logging:
  level:
    org:
      zalando:
        logbook: TRACE

spring:
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:h2:file:./db/filmorate;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: nm
    password: password